<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{url_for('web.static', filename='css/dist/tailwind.css')}}" />
        <link rel="stylesheet" href="{{url_for('web.static', filename='css/style.css')}}" />

        <link rel="shortcut icon" href="{{ url_for('web.static', filename='favicon.ico') }}" type="image/x-icon">

        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}

        <py-script>
            from pyodide.ffi import create_proxy
            from js import document

            BLUE = "var(--py-blue)"
            YELLOW = "var(--py-yellow)"

            def toggle_colors(element):
                element = document.body
                if element.style.getPropertyValue('color') == BLUE:
                    element.style.setProperty('color' ,YELLOW)
                    element.style.setProperty('background-color' ,BLUE)
                else:
                    element.style.setProperty('color' ,BLUE)
                    element.style.setProperty('background-color' ,YELLOW)

            # change body background color on click
            document.body.addEventListener(
                "click",
                create_proxy(toggle_colors),
            )
        </py-script>
    </body>
</html>